.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 12.5rem;
}

/*  { 48/16 = 3rem }  */

.header img {
  height: 3rem; 
  width: 7.875rem;
  position: absolute;
  top: calc(4rem)
}