.counterTasks {
 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 3rem 3rem 0rem 3rem;
  width: 46rem;



}


.textCounter {
  color: var(--blue);
  display: flex;
  
}

.textCounter p{
  color: var(--blue);

  
}



.textCounter span {

 margin-left: 5px;
 color: var(--white);
 border: 1px solid var(--gray-400);
 background-color: var(--gray-400);
 border-radius: 8px;
 min-width: 25px;
 display: flex;
 justify-content: center;
 align-items: center;

  
}

.emptyTaskList {
  margin-top: 1rem;
  border-top: 1px solid var(--gray-400);
  width: 40rem;
  border-radius: 8px; 
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-300);

}


.emptyTaskList img{
  margin-bottom: 2rem;
 }

 .emptyTaskList p{
  font-weight: bold;
 }

 .taskToDo {
   border-top: 1px solid var(--gray-400);
   border-radius: 8px;
   width: 42rem;
   margin-top: 1rem;
 }
 
 .taskToDo div{
   background-color: var(--gray-400);
   border: 1px solid var(--gray-300);
   border-radius: 8px; 
   margin: 1rem 2rem;
 /*  align-self: stretch;
   padding: 1rem;

    
   display: flex;
   flex-direction: row;
   color: var(--gray-100); */

   display: grid;
   grid-template-areas: "buttonCheck textToDo iconTrash";
   grid-template-columns: 4rem auto 4rem;
   grid-template-rows: 5rem;
   

 }

 .taskToDo div p{ margin: auto 0; }

 .taskToDo button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin: auto;
}

 
 

 .taskToDo div img {
   margin: auto;
 }

 .taskToDo div img:hover {
  margin: auto;
  cursor: pointer;
  border: 1px solid var(--purple);
}

 .taskToDo div input[type=checkbox] {
  
   margin: auto auto;
   appearance: none;
   width: 20px;
   height: 20px;
   border-radius:100%;
  
   border: 1px solid var(--blue);
   outline: none;
   cursor: pointer;
 }


 .taskToDo div input:checked {
  background-color: var(--purple);
  position: relative;
}

.taskToDo div input:checked::before {
  content: 'x';
  font-size: 1 rem;
  color: #fff;
  position: absolute;
  right: 4px;
  top: -2px;
}

